<h3 class="text-center font-weight-bold">Fatura</h3>

<div class="tabela">
    <!--<div class="row">
      <div class="col-4 col-lg-2 font-weight-bold">Fatura-Venc</div>
      <div class="col-5 col-md-6 col-lg-3 font-weight-bold">Descrição</div>
      <div class="col-3 col-md-2 col-lg-1 font-weight-bold">Valor</div>
      <div class="col-4 col-lg-2 font-weight-bold">Fatura-Venc</div>
      <div class="col-5 col-md-6 col-lg-3 font-weight-bold">Descrição</div>
      <div class="col-3 col-md-2 col-lg-1 font-weight-bold">Valor</div> -->
      
      <div class="parcela-row row" *ngFor="let par of parcelaHalf; let ind = index">
        <div class="col-3 col-lg-1 parcela-row-mobile"> {{ parcelas[0].Parcelas.ParcelaDivida[ind].Vencimento }} </div>
        <div class="col-4 col-lg-2 font-15px pl-0 parcela-row-mobile">{{ parcelas[0].Parcelas.ParcelaDivida[ind].DescricaoItemExtrato }} </div>
        <div class="col-2 col-lg-1 text-right parcela-row-mobile">R$ {{ apiRestService.doisDigitosDecimais(parcelas[0].Parcelas.ParcelaDivida[ind].Valor) }} </div>
        <div class="col-3 col-lg-2 parcela-row-mobile">Parcela: {{ parcelas[0].Parcelas.ParcelaDivida[ind].CodigoParcela }}</div> 
          <div class="col-3 col-lg-1  " *ngIf="parcelas[0].Parcelas.ParcelaDivida[ind  + parcelaHalfNum]"> {{ parcelas[0].Parcelas.ParcelaDivida[ind  + parcelaHalfNum].Vencimento }}</div>
          <div class="col-4 col-lg-2 font-15px pl-0  " *ngIf="parcelas[0].Parcelas.ParcelaDivida[ind  + parcelaHalfNum]"> {{ parcelas[0].Parcelas.ParcelaDivida[ind + parcelaHalfNum].DescricaoItemExtrato }} </div>
          <div class="col-2 col-lg-1 text-right  " *ngIf="parcelas[0].Parcelas.ParcelaDivida[ind  + parcelaHalfNum]">R$ {{ apiRestService.doisDigitosDecimais(parcelas[0].Parcelas.ParcelaDivida[ind + parcelaHalfNum].Valor) }} </div> 
          <div class="col-3 col-lg-2  " *ngIf="parcelas[0].Parcelas.ParcelaDivida[ind  + parcelaHalfNum]">Parcela: {{ parcelas[0].Parcelas.ParcelaDivida[ind  + parcelaHalfNum].CodigoParcela }}</div>
        <div *ngIf=" ind === parcelaHalfNum - 1" class="col-2 col-lg-1 font-weight-bold mb-15 up-30">Total</div>
        <div *ngIf=" ind === parcelaHalfNum - 1" class="col-6 col-lg-3 font-weight-bold mb-15 up-30">R$ {{ total }}</div>
    </div>    
   </div> 
  